body {
  background-image: url("../images/boozeBackground.jpg");
  font-family: 'Oswald', sans-serif;
}

#header {
  height:25%;
  font-family: 'Oleo Script', cursive;
  text-align: center;
  text-shadow: white 3px 3px;
}

#gameTron {
  width:70%;
  margin-top:5%;
  margin-left:15%;
  text-align: center;
}

.choiceBtn {
  margin-right:5%;
  margin-left:5%;
  width: 25%;
  text-align: center;
  padding:auto;
}

#question {
  margin-bottom:3%;
  width:70%;
  margin-left:15%;
}

.my-4 {
  width:80% !important;
}

#imageResult {
  width:60%;
}

.footer {
  background-color:tan;
  position: fixed;
  bottom:0;
  height:3%;
  text-align:center;
  width:100%;
}

@media screen and (max-width: 800px) {
  #gameTron {
    margin-top:20%;
    width:88%;
    margin-left:6%
  }
  #question {
    font-size:medium;
  }
  .choiceBtn{
    width:40%;
    font-size:small !important;
  }
}